.projectPreviewBoxLeft:hover {
  opacity: 0.1;
  cursor: pointer;
  ~.projectPreviewdesLeft {
    width: 30%;
    height: 310px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    left: 18%;
    z-index: -1;
  }
}

.projectPreviewdesLeft {
  display: none;
}

.projectPreviewBoxRight:hover {
  opacity: 0.1;
  cursor: pointer;
  ~.projectPreviewdesRight {
    width: 30%;
    height: 310px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    right: 18%;
    z-index: -1;
  }
}

.projectPreviewdesRight {
  display: none;
}